body {
    background: linear-gradient(135deg, #d4f5e9, #f0fff7);
}

.login-form {
    transition: 0.3s ease;
}

.login-form:hover {
    transform: translateY(-5px);
}
/* .liklik {
    display: flex;
    justify-content: center;
    
} */